<dl>
  <dt>
    <label>Testers</label>
  </dt>
  <dd>
    <% i = 1
    User.find(:all).each do |user|%>
      <label>
        <%= check_box_tag("testers[#{user.id}]")%>
        <%= h user.email %>
      </label>
      <%
      i = i + 1
      if i == 8
        i = 1%>
        <br/>
      <%
      end
    end
  %>
  </dd>
</dl>