<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Simple Test Plans</title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
  </head>
  <body>
    <p style="color: green"><%= flash[:notice] %></p>
    <div id='wrapper'>
      <div class="head-space"></div>
      <div class='content'>
        <%= yield %>
        <div style="clear:both"></div>
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>
